/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.popover-body {
  font-size:  12px;
  font-family: 'Times New Roman', Times, serif;
  /*background: FAFAD2;*/
  background: black;
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:  14px;
  	  /*	background: #F0E68C;*/
    background: lightgoldenrodyellow;
}
.header{
	font-family: 'Times New Roman', Times, serif;
	font-size:  20px;
	color: aliceblue;
	/*background: #48D1CC;*/
	background:#318CE7;

	border-bottom: 1px solid;
	padding:10px;
}
.container {	
	margin: 30px auto;
}